{% extends 'attribute_main.html.twig' %}
{% block admin_attribute_main_form %}
    {% if edit.oxattribute__oxid.value %}
        <tr>
            <td class="edittext" colspan="2">
                <b>Oxid: {{edit.oxattribute__oxid.value}}<br>
                    <b>WAWI Id: {{edit.oxattribute__wwforeignid.value}}
            </td>
        </tr>
    {% endif %}
    {{ parent() }}
{% endblock %}