{% extends 'deliveryset_main.html.twig' %}
{% block admin_deliveryset_main_form %}
    {% if edit.oxdeliveryset__oxid.value %}
        <tr>
            <td class="edittext" colspan="2">
                <b>Oxid: {{edit.oxdeliveryset__oxid.value}}
            </td>
        </tr>
    {% endif %}
    {{ parent() }}
{% endblock %}